In [2]:
import pandas as pd
import numpy as np

In [25]:
iris=pd.read_csv('E:\Projects folder\Iris\Iris.csv',header=None)

In [26]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [27]:
iris.columns = ['sepallen','sepalwid','petallen','petalwid','class']

In [28]:
iris.head()

   sepallen  sepalwid  petallen  petalwid        class
0       5.1       3.5       1.4       0.2  Iris-setosa
1       4.9       3.0       1.4       0.2  Iris-setosa
2       4.7       3.2       1.3       0.2  Iris-setosa
3       4.6       3.1       1.5       0.2  Iris-setosa
4       5.0       3.6       1.4       0.2  Iris-setosa

In [29]:
iris['class'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: class, dtype: int64

In [30]:
iris_shuffle=iris.iloc[np.random.permutation(len(iris))]
iris=iris_shuffle.reset_index(drop=True)
iris.head()

   sepallen  sepalwid  petallen  petalwid            class
0       7.7       2.6       6.9       2.3   Iris-virginica
1       6.3       2.5       4.9       1.5  Iris-versicolor
2       4.6       3.2       1.4       0.2      Iris-setosa
3       6.3       2.8       5.1       1.5   Iris-virginica
4       5.5       2.3       4.0       1.3  Iris-versicolor

In [31]:
iris['class']=iris['class'].map({'Iris-versicolor':0,'Iris-setosa':1,'Iris-virginica':2})

iris.head()

   sepallen  sepalwid  petallen  petalwid  class
0       7.7       2.6       6.9       2.3      2
1       6.3       2.5       4.9       1.5      0
2       4.6       3.2       1.4       0.2      1
3       6.3       2.8       5.1       1.5      2
4       5.5       2.3       4.0       1.3      0

In [32]:
iris_class = iris['class'].values

In [34]:
pd.isnull(iris).any()

sepallen    False
sepalwid    False
petallen    False
petalwid    False
class       False
dtype: bool

In [37]:
from sklearn.model_selection import train_test_split
training_indices, validation_indices = training_indices, testing_indices = train_test_split(iris.index,
                                                                                            stratify = iris_class,
                                                                                            train_size=0.75, test_size=0.25)

In [39]:
training_indices.size, validation_indices.size

(112, 38)

In [42]:
from tpot import TPOTClassifier
from tpot import TPOTRegressor

tpot = TPOTClassifier(generations=5,verbosity=2)

tpot.fit(iris.drop('class',axis=1).loc[training_indices].values,
         iris.loc[training_indices,'class'].values)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=600, style=ProgressStyle(descript…

Generation 1 - Current best internal CV score: 0.9726190476190476
Generation 2 - Current best internal CV score: 0.9726190476190476
Generation 3 - Current best internal CV score: 0.9726190476190476
Generation 4 - Current best internal CV score: 0.9726190476190476
Generation 5 - Current best internal CV score: 0.9726190476190476

Best pipeline: KNeighborsClassifier(input_matrix, n_neighbors=11, p=2, weights=uniform)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=5,
        max_eval_time_mins=5, max_time_mins=None, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=100,
        random_state=None, scoring=None, subsample=1.0,
        template='RandomTree', use_dask=False, verbosity=2,
        warm_start=False)

In [44]:
tpot.score(iris.drop('class',axis=1).loc[validation_indices].values,
           iris.loc[validation_indices, 'class'].values)

0.9736842105263158

In [48]:
tpot = TPOTClassifier(verbosity=2, max_time_mins=2, max_eval_time_mins=0.04, population_size=15)
tpot.fit(iris.drop('class',axis=1).loc[training_indices].values, iris.loc[training_indices,'class'].values)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=15, style=ProgressStyle(descripti…

Generation 1 - Current best internal CV score: 0.9551948051948053
Generation 2 - Current best internal CV score: 0.9647186147186148
Generation 3 - Current best internal CV score: 0.9647186147186148
Generation 4 - Current best internal CV score: 0.9647186147186148
Generation 5 - Current best internal CV score: 0.9654761904761905
Generation 6 - Current best internal CV score: 0.9654761904761905
Generation 7 - Current best internal CV score: 0.9654761904761905
Generation 8 - Current best internal CV score: 0.9654761904761905
Generation 9 - Current best internal CV score: 0.9654761904761905
Generation 10 - Current best internal CV score: 0.9654761904761905
Generation 11 - Current best internal CV score: 0.9654761904761905
Generation 12 - Current best internal CV score: 0.9654761904761905
Generation 13 - Current best internal CV score: 0.9654761904761905
Generation 14 - Current best internal CV score: 0.9821428571428571
Generation 15 - Current best internal CV score: 0.9821428571428571
Generation 16 - Current best internal CV score: 0.9821428571428571
Generation 17 - Current best internal CV score: 0.9821428571428571
Generation 18 - Current best internal CV score: 0.9821428571428571
Generation 19 - Current best internal CV score: 0.9821428571428571
Generation 20 - Current best internal CV score: 0.9821428571428571
Generation 21 - Current best internal CV score: 0.9821428571428571
Generation 22 - Current best internal CV score: 0.9821428571428571
Generation 23 - Current best internal CV score: 0.9821428571428571
Generation 24 - Current best internal CV score: 0.9821428571428571
Generation 25 - Current best internal CV score: 0.9821428571428571

2.007153833333333 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: LinearSVC(PolynomialFeatures(CombineDFs(input_matrix, input_matrix), degree=2, include_bias=False, interaction_only=False), C=0.5, dual=True, loss=squared_hinge, penalty=l2, tol=1e-05)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=1000000,
        max_eval_time_mins=0.04, max_time_mins=2, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=15,
        random_state=None, scoring=None, subsample=1.0,
        template='RandomTree', use_dask=False, verbosity=2,
        warm_start=False)

In [50]:
tpot.score(iris.drop('class',axis=1).loc[validation_indices].values,
           iris.loc[validation_indices, 'class'].values)

C:\ProgramData\New folder\lib\site-packages\sklearn\preprocessing\_function_transformer.py:98: FutureWarning: The default validate=True will be replaced by validate=False in 0.22.
  "validate=False in 0.22.", FutureWarning)
C:\ProgramData\New folder\lib\site-packages\sklearn\preprocessing\_function_transformer.py:98: FutureWarning: The default validate=True will be replaced by validate=False in 0.22.
  "validate=False in 0.22.", FutureWarning)

1.0